.main {
  width: 100%;
}
.top-box {
  display: flex;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  /* justify-content: center; */
  /* text-align: center; */
  max-width: 1400px;
}
.top-info {
  margin: 0 auto;
  font-weight: 500;
  font-size: 15px;
}

.top-info-click {
  display: flex;
  padding: 20px 30px;
  border: 1px;
  gap: 5px;
  border-radius: 20px;
  background-color: #efefef;
  cursor: pointer;
}

.top-info-click img {
  margin-left: 15px;
}

.info-txt-color {
  color: #06f;
}

.top-menu {
  display: flex;
  width: 100%;
}

.top-menu-layer {
  display: flex;
  /* width: 100%; */
  height: 100%;
  /* margin: 100px 100px; */
  padding: 50px;
  margin: 0 auto;
  font-size: 13px;
  list-style-type: none;
  gap: 10px;
}
.layer-1 {
  width: 110px;
  /* margin-bottom: 40px; */
  /* margin-top: 10px; */
  /* gap: 20px; */
}

.layer-1 a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.layer-1-link {
  /* margin-right: 20px; */
  display: block;
  gap: 10px;
}

.top-slide {
}

.top-slide-txt-bt {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.ts-txt {
  font-size: 22px;
  /* margin-bottom: 20px; */
}

.ts-bt-wrap {
  display: flex;
}

.ts-bt-1 {
  width: 28px;
  height: 30px;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  border-right: 0px;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-radius: 10px 0px 0px 10px;
  cursor: pointer;
}
.ts-bt-1 img {
  opacity: 0.5;
  transform: rotateY(-180deg);
}
.bt-between {
  /* filter: invert(1); */
}
.ts-bt-2 {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 0px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}
.ts-bt-2 img {
  opacity: 0.5;
}

.top-slide-menu {
  display: flex;
  position: relative;
  justify-content: center;
}

.title-1 {
  display: flex;
  gap: 20px;
}
.title-card {
  position: relative;
  width: 100%;
  height: auto;
  /* max-width: 264px; */
  /* max-height: 177px; */
  /* overflow: hidden; */
}
.title-card h5 {
  margin: 5px 0;
  font-size: 16px;
}
.title-card-img {
  /* padding: 0; */
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
}
.title-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 20px; */
  transition: ease 0.2s;
  transform: scale(1.1);
}
.title-card-img:hover img {
  transform: scale(1.05);
}
.title-img-txt {
  /* display: flex; */
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 15px 15px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  color: #fff;
  font-size: 14px;
  text-align: left;
  justify-content: space-between;
  border-radius: 20px 20px 0px 0px;
  z-index: 1;
}
.title-img-pass {
}
.title-img-icon {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.title-img-icon img {
  width: 25px;
  height: 100%;
  filter: invert(1) brightness(2) grayscale(1);
}
.title-card-txt {
  color: rgba(55, 56, 60, 0.61);
  font-size: 14px;
}

.title-2 {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.top-slide2-txt-bt {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 20px;
}
.ts2-txt {
  font-size: 22px;
  /* margin: 60px 0px 20px; */
}

.news-card {
  display: flex;
  position: relative;
  transition: all 0.3s;
}
.news-card:hover {
  transform: translateY(-10px);
}
.news-card:hover .news-card-img img {
  transform: scale(1.1);
}
.news-card-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  /* display: block; */
  /* width: 450px; */
  /* height: 300px; */
}

.news-card-img img {
  display: flex;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: ease 0.3s;
}
/* .news-card-img img:hover {
  transform: scale(1.1);
} */
.news-overlay-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 20px 20px;
}

.news-overlay-txt-1 {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
}
.news-overlay-txt-2 {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}

/* 중단 영역 css */

.middle-box {
  margin: auto;
  height: 100%;
  max-width: 1400px;
}

.middle-info {
  padding-top: 60px;
  padding-bottom: 20px;
}

.theme-bt {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.middle-position-wrap {
  display: flex;
  justify-content: space-between;
  gap: 13px;
}

.middle-position {
  border: 1px solid hsla(225, 5%, 46%, 0.16);
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.middle-position img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease 0.2s;
}
.middle-position img:hover {
  transform: scale(1.05);
}
.middle-po-txt-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  gap: 4px;
}
.mptxt-1 {
  font-size: 17px;
  font-weight: 600;
}
.mptxt-2 {
  font-size: 13px;
  font-weight: 500;
  color: rgba(55, 56, 60, 0.61);
}
